<!DOCTYPE html>
{% block head %}{% endblock %}
<div class="mail-container">
    {% block header %}
        <div class="navbar navbar-default">
            <h1 class="navbar-header">
                <a href="{{ app.request.absoluteBase }}" target="_blank">
                    <img src="cid:logo"/>
                    {{ 'main.title'|l }}
                </a>
                <small class="pull-right">{{ 'main.slogan'|l }}</small>
            </h1>
        </div>
    {% endblock %}
    {% block main %}
        <div class="main">
            {% block welcome %}
                <h4>
                    {{ 'mail.common.hello'|l({user: user}) }}
                </h4>
            {% endblock %}
            {% block content %}{% endblock %}
            {% block signature %}
                <div class="signature">
                    <p>{{ 'mail.common.signature'|l }}</p>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
    {% block footer %}
        <div class="footer">
            <div>
                <p class="text-justify small">{{ 'mail.common.footer'|l }}</p>
            </div>
        </div>
    {% endblock %}
</div>
