{% extends 'Mail/layout' %}

{% block welcome %}
    <h4>
        {{ 'mail.confirmEmail.hello'|l({user: user}) }}
    </h4>
{% endblock %}

{% block content %}
    <p>
        {{ 'mail.confirmEmail.intro'|l }}
    </p>
    <p class="text-center main-focus">
        <a href="{{ confirmLink }}" class="btn btn-success btn-lg" target="_blank">{{ 'user.confirmEmail.action'|l }}</a>
    </p>
{% endblock %}
