{% extends 'Mail/layout' %}

{% block content %}
    <p>
        {{ 'mail.magicLink.intro'|l }}
    </p>
    <p class="text-center main-focus">
        <a href="{{ magicLink }}" class="btn btn-success btn-lg" target="_blank">{{ 'user.login.action'|l }}</a>
    </p>
{% endblock %}
