<form method="post" class="form">
    <h3>{{ 'user.login.header'|l }}</h3>
    {{ loginForm.render('Avris\\Micrus\\Forms\\Style\\BootstrapNoLabel')|raw }}
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary">
            <span class="fa fa-key"></span>
            {{ 'user.login.action'|l }}
        </button>
    </div>
</form>
