<form id="magicLinkForm" method="post" class="form">
    <h3>{{ 'user.magicLink.header'|l }}</h3>
    {{ magicLinkForm.render('Avris\\Micrus\\Forms\\Style\\BootstrapNoLabel')|raw }}
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary">
            <span class="fa fa-paper-plane"></span>
            {{ 'user.magicLink.action'|l }}
        </button>
    </div>
</form>
