<form method="post" class="form">
    <h3>{{ 'user.register.action'|l }}</h3>
    {{ registerForm.render('Avris\\Micrus\\Forms\\Style\\BootstrapNoLabel')|raw }}
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary">
            <span class="fa fa-user-plus"></span>
            {{ 'user.register.action'|l }}
        </button>
    </div>
</form>
