<div class="modal fade {% if accountForm.bound %}modal-active{% endif %}" id="accountModal" role="dialog">
    <div class="modal-dialog" role="document">
        <form class="modal-content form" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'user.account.update'|l }}</h4>
            </div>
            <div class="modal-body">
                {{ accountForm.render('Avris\\Micrus\\Forms\\Style\\Bootstrap2')|raw }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    <span class="fa fa-pencil"></span>
                    {{ 'user.account.update'|l }}
                </button>
            </div>
        </form>
    </div>
</div>
