<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="fa fa-user"></span>
            {{ 'user.account.general'|l }}
        </h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            {% if useUsername %}
                <dt>
                    {{ 'entity.User.fields.username'|l }}
                </dt>
                <dd>
                    {{ app.user.username }}
                </dd>
            {% endif %}
            <dt>
                {{ 'entity.User.fields.email'|l }}
            </dt>
            <dd>
                {{ app.user.email }}
                <a href="#accountModal"
                   class="btn-modal"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="{{ 'user.account.changeEmail.action'|l|e }}">
                    <span class="fa fa-pencil"></span>
                </a>
            </dd>

            <dt>
                {{ 'entity.User.fields.password'|l }}
            </dt>
            <dd>
                {{ app.user.hasSetupPassword ? '••••••••••' : '—' }}
                <a href="#passwordModal"
                   class="btn-modal"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="{{ 'user.account.changePassword.action'|l|e }}">
                    <span class="fa fa-pencil"></span>
                </a>
            </dd>

            <dt>
                {{ 'entity.User.fields.avatar'|l }}
                <a href="https://gravatar.com/" target="_blank"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="{{ 'user.account.updateAvatar.gravatar'|l|e }}">
                    <img src="{{ asset('assetic/gfx/gravatar.png') }}" class="icon">
                </a>
            </dt>
            <dd>
                <img src="{{ gravatar }}" class="avatar avatar-big">
                <a href="{{ route('userUpdateAvatar', {source: 'gravatar'}) }}"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="{{ 'user.account.updateAvatar.action'|l|e }}">
                    <span class="fa fa-paint-brush"></span>
                </a>
            </dd>
            {% include 'User/account/generalExtend' %}
        </dl>
    </div>
</div>
