<div class="panel {% if account is empty %}panel-default{% else %}panel-primary{% endif %}">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="{{ source.icon }}"></span>
            {{ 'user.account.connection'|l({source: source}) }}

            {% if account is not empty %}
                <form method="post"
                      action="{{ route('socialLoginRevoke', {source: source}) }}"
                      data-confirm="{{ 'social.disconnect.confirm'|l({source: source}) }}"
                      class="pull-right"
                >
                    <input type="hidden" name="source" value="{{ source }}"/>
                    <button type="submit" class="btn btn-primary btn-xs"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="{{ 'social.disconnect.action'|l|e }}">
                        <span class="fa fa-trash"></span>
                    </button>
                </form>

                <form method="post"
                      action="{{ route('socialLoginUpdate', {source: source}) }}"
                      class="pull-right"
                >
                    <input type="hidden" name="source" value="{{ source }}"/>
                    <button type="submit" class="btn btn-primary btn-xs"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="{{ 'social.updateData.action'|l|e }}">
                        <span class="fa fa-refresh"></span>
                    </button>
                </form>
            {% endif %}
        </h3>
    </div>
    <div class="panel-body">
        {% if account is empty %}
            <a href="{{ route('socialLogin', {source: source}) }}" class="btn btn-block btn-default">
                <span class="{{ source.icon }}"></span>
                {{ 'social.connect.action'|l }}
            </a>
        {% else %}
            <dl class="dl-horizontal">
                <dt>
                    {{ 'social.account'|l }}
                </dt>
                <dd>
                    {% if account.link %}
                        <a href="{{ account.link }}" target="_blank">
                            <span class="fa fa-external-link"></span>
                            {{ account.name }}
                            {% if account.subName %}
                                <small>({{ account.subName }})</small>
                            {% endif %}
                        </a>
                    {% else %}
                        {{ account.name }}
                        {% if account.subName %}
                            <small>({{ account.subName }})</small>
                        {% endif %}
                    {% endif %}
                </dd>

                <dt>
                    {{ 'entity.User.fields.email'|l }}
                </dt>
                <dd>
                    {{ account.email ?: '—' }}
                </dd>

                <dt>
                    {{ 'entity.User.fields.avatar'|l }}
                </dt>
                <dd>
                    <img src="{{ account.avatar }}" class="avatar avatar-big">
                    <a href="{{ route('userUpdateAvatar', {source: source}) }}"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="{{ 'user.account.updateAvatar.action'|l|e }}">
                        <span class="fa fa-paint-brush"></span>
                    </a>
                </dd>
            </dl>
        {% endif %}
    </div>
</div>
