{% extends 'layout' %}

{% block content %}
    <main class="account">
        <h2>
            <span class="fa fa-user"></span>
            {{ 'user.account.header'|l }}
        </h2>
        <div class="row">
            <div class="col-lg-6">
                {% include 'User/account/general' %}
            </div>

            {% set i = 1 %}
            {% for source in socialSources %}
                {% if i is divisible by(2) %}</div><div class="row">{% endif %}
                <div class="col-lg-6">
                    {% include 'User/account/social' with {account: source.buildSocialAccount(app.user)} %}
                </div>
                {% set i = i + 1 %}
            {% endfor %}
        </div>
        {% include 'User/account/extend' %}
    </main>

    {% include 'User/account/accountModal' %}
    {% include 'User/account/passwordModal' %}
{% endblock %}
