{% if app.user %}
    <li class="dropdown">
        <a class="dropdown-toggle navbar-big" data-toggle="dropdown" href="#" id="user">
            <img src="{{ app.user.avatar|imagine('avatar') }}" class="avatar"/>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="user">
            <li>
                {% include 'User/link/account' %}
            </li>
            <li class="divider"></li>
            <li>
                {% include 'User/link/logout' %}
            </li>
        </ul>
    </li>
{% else %}
    <li>
        {% include 'User/link/login' %}
    </li>
{% endif %}
