<div class="login-box">
    <ul class="nav nav-tabs nav-justified">
        <li {% if boundForm == 'Register' %}class="active"{% endif %}>
            <a href="#register" data-toggle="tab">
                <span class="fa fa-user-plus"></span>
            </a>
        </li>
        <li {% if boundForm == 'Login' %}class="active"{% endif %}>
            <a href="#password" data-toggle="tab">
                <span class="fa fa-key"></span>
            </a>
        </li>
        <li {% if boundForm == 'MagicLink' %}class="active"{% endif %}>
            <a href="#magicLink" data-toggle="tab">
                <span class="fa fa-magic"></span>
            </a>
        </li>
        {% for source in socialSources %}
            <li>
                <a href="{{ route('socialLogin', {source: source}) }}">
                    <span class="{{ source.icon }}"></span>
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade {% if boundForm == 'Register' %}active in{% endif %}" id="register">
            {% include 'User/login/registerForm' %}
            <div class="list-spread text-right small">
                <a href="#password" data-toggle="tab-external">{{ 'user.login.action'|l }}</a>
                <a href="#magicLink" data-toggle="tab-external">{{ 'user.magicLink.remindPassword'|l }}</a>
            </div>
        </div>
        <div class="tab-pane fade {% if boundForm == 'Login' %}active in{% endif %}" id="password">
            {% include 'User/login/loginForm' %}
            <div class="list-spread text-right small">
                <a href="#register" data-toggle="tab-external">{{ 'user.register.action'|l }}</a>
                <a href="#magicLink" data-toggle="tab-external">{{ 'user.magicLink.remindPassword'|l }}</a>
            </div>
        </div>
        <div class="tab-pane fade {% if boundForm == 'MagicLink' %}active in{% endif %}" id="magicLink">
            {% include 'User/login/magicLinkForm' %}
            <div class="list-spread text-right small">
                <a href="#register" data-toggle="tab-external">{{ 'user.register.action'|l }}</a>
                <a href="#password" data-toggle="tab-external">{{ 'user.login.header'|l }}</a>
            </div>
        </div>
    </div>
</div>
