{% extends 'layout' %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>{{ 'user.welcome'|l }}</h3>
        <p>
            {{ ('social.pending.'~(emailConfirmed ? 'welcome' : 'welcomeEmail'))|l }}
        </p>
        <form method="post" class="form">
            {{ form.render('Avris\\Micrus\\Forms\\Style\\Bootstrap')|raw }}
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">
                    <span class="fa fa-arrow-right"></span>
                    {{ 'social.pending.continue'|l }}
                </button>
            </div>
            <small class="pull-right">
                <a href="?revoke">{{ 'social.pending.revoke'|l({source: source}) }}</a>
            </small>
        </form>
    </div>
</div>
{% endblock %}
